<div id="alphabetical_box" class="row">
    <div id="lemma" class="col-md-12 text-center mx-auto">
        <ul stlye="list-style-type: none;">
            {% for w in all_lemmas %}
                {% if last_queried and last_queried == w %}
                    <li><a  class="active" href="/autodict/search_lemma/?search_box={{w}}">{{w}}</a></li>
                {% else %}
                    <li><a href="/autodict/search_lemma/?search_box={{w}}">{{w}}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>

<style>
    #alphabetical_box {
        max-width: 15rem;
        overflow-x: scroll;
        max-height: 100%;
        position: fixed;
        visibility: hidden;
        z-index: 2;
        background-color: white;
    }
    
</style>

<script>
</script>