<div id="alphabetical_box" class="row">
    <div id="lemma" class="col-md-12 text-center mx-auto">
        <ul class="list-group list-group-flush">
            {% for w in all_lemmas %}
                <li class="inline list-group-item"><a href="/search_lemma/?search_box={{w}}">{{w}}</a>&nbsp;</li>
            {% endfor %}
        </ul>
    </div>
</div>

<style>
    #alphabetical_box {
        max-width: 15rem;
        overflow-x: scroll;
        max-height: 100rem;
        position: fixed;
        visibility: hidden;
    }
</style>

<script>
</script>