{% include 'dictionary/index.html' %}
{% load split %}
{% load replace %}
{% load declare %}
{% block results %}

{% declare "to_search" as to_search %}
<div class="container ">
    <div class="row">
        <div class="col-lg mx-auto ">
        {% if found is True %}
            {% for r in results %}
            <div class="row">
                <div class="col-lg">
                        <div class="row">
                        <blockquote class="blockquote">
                            <h1 class="mb-0">{{r}}</h1> 
                            <footer class="blockquote-footer">{{search_type}}</footer>
                        </blockquote>
                        </div>
                        {% for definition in r.definition.all %}
                        <div class="row mrpr-5">
                            <h5 class="ml-3 mr-3 pos_tag"> <b>{{definition.local_pos_tag}}</b></h5>
                            <h5 class="mr-3">{{texts.singular}}</h5><i>{{ definition.singular }}&nbsp;&nbsp;&nbsp;</i>
                            <h5 class="mr-3">{{texts.plural}}</h5><i>{{ definition.plural }}</i>
                        </div>
                        <div class="row">
                            <h4 class="ml-3 mr-3">{{texts.definition}}</h4>
                            <div class="row text-left pr-5 pl-5">
                                {% with to_search=definition.definition %}
                                {% for w in to_search|split:" " %}
                                {% if w.lower in all_lemmas %}
                                <span class="highlighted_lemma"><a
                                        href="/search_lemma/?search_box={{w}}">{{w}}</a>&nbsp;</span>
                                {% else %}
                                <span> {{w}}&nbsp;</span>
                                {% endif %}
                                {% endfor %}
                                {% endwith %}
                            </div>
                        </div>
                        {% endfor %}
                        <div class="row">
                            <div class="col-lg">
                                <h5 class="mr-3">{{texts.related}}</h5>
                                <div class="row text-left pr-5 pl-5">
                                    <ul>
                                        {% for lemma in r.positive_lemma.all %}
                                        <li style="display:inline"> 
                                        {% if lemma.lower in all_lemmas %}
                                            <span class="highlighted_lemma"><a
                                                    href="/search_lemma/?search_box={{lemma}}">{{lemma}}</a>&nbsp;</span>
                                            {% else %}
                                            <span> {{lemma}}&nbsp;</span>
                                            {% endif %}
                                            {% endfor %}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg">
                        <h5>{{texts.examples}}</h5>
                        <div class="row text-left pr-5 pl-5">
                            <ul>
                                {% for c in r.examples.all %}
                                <li>{% for w in c.example|split:" " %}
                                    {% if w in all_lemmas %}
                                    <span class="highlighted_lemma"><a
                                            href="/search_lemma/?search_box={{w}}">{{w}}</a>&nbsp;</span>
                                    {% else %}
                                    <span> {{w}}&nbsp;</span>
                                    {% endif %}
                                    {% endfor %}...</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            <hr>
            {% endfor %}
            {% else %}
                <div class="d-flex flex-column">
                   <span><h5>There is no match for your query, maybe you were looking for one of the following</h5></span>
                    {% for r in results %}
                        {% if r.lemma in all_lemmas %}
                        <div>
                            <span class="highlighted_lemma"><a href="/search_lemma/?search_box={{r.lemma}}">{{r.lemma}}</a>
                        </div>
                        {% endif %} 
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

<script>
</script>

<style>
    .highlighted_lemma {
        color: red
    }
</style>